TZ: 'Europe/Berlin'
SERVER_ADMIN: 'admin@example.com'
HTTP_SERVER_NAME: 'example.com'
HTTPS_SERVER_NAME: 'example.com'
LOG_LEVEL: 'info'
PHP_MEMORY_LIMIT: '256M'
UPLOAD_MAX_FILESIZE: '8M'
MYSQL_ROOT_PASSWORD: xeFgUGb5mPPn5q2d
