#--------------#
# SYSTEM DEF's #
################

# NFS server address and base share path (e.g. /mnt/tank)
nfs_addr=
nfs_share=

TZ=

# Tailscale
TS_AUTHKEY=
TS_EXTRA_ARGS=
TS_STATE_DIR=/var/lib/tailscale
TS_HOSTNAME=
TS_USERSPACE=false

# Blocky UI
BLOCKY_API_URL=http://blocky:4000
QUERY_LOG_TYPE=
QUERY_LOG_TARGET=
INSTANCE_NAME=
