#--------------#
# SYSTEM DEF's #
################

# NFS server address and base share path (e.g. /mnt/tank)
nfs_addr=
nfs_share=

# Domain name (used in Authentik outpost router rule)
DOMAINNAME=stickpile.net

# Authentik
AUTHENTIK_TAG=

# Email
AUTHENTIK_EMAIL__HOST=
AUTHENTIK_EMAIL__PORT=
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__USE_TLS=false
AUTHENTIK_EMAIL__USE_SSL=true
AUTHENTIK_EMAIL__TIMEOUT=10
AUTHENTIK_EMAIL__FROM=

# Database
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

SECRET_KEY=
ldaps_hostname=
