#--------------#
# SYSTEM DEF's #
################

# Where are we storing this data?
persist_data_home=
TIME_ZONE=

# Seafile
MYSQL_LOG_CONSOLE=true
MARIADB_AUTO_UPGRADE=1

# Seafile global
db_pass=
DB_HOST=db

MYSQL_USER=
MYSQL_USER_PASSWORD=
MARIADB_ROOT_PASSWORD=

TIME_ZONE=  # Optional, default is UTC. Should be uncomment and set to your local time zone.
SEAFILE_ADMIN_EMAIL= # Specifies Seafile admin user, default is 'me@example.com'.
SEAFILE_ADMIN_PASSWORD=  # Specifies Seafile admin password, default is 'asecret'.
SEAFILE_SERVER_HOSTNAME= # Specifies your host name if https is enabled.
SEAFILE_SERVER_LETSENCRYPT=false   # Whether to use https or not.

