#--------------#
# SYSTEM DEF's #
################

# NFS server address and base share path (e.g. /mnt/tank)
nfs_addr=
nfs_share=

TIME_ZONE=  # Optional, default is UTC.

# Seafile database
db_pass=
DB_HOST=db
MARIADB_ROOT_PASSWORD=
MYSQL_LOG_CONSOLE=true
MARIADB_AUTO_UPGRADE=1

# Seafile admin
SEAFILE_ADMIN_EMAIL=        # default: me@example.com
SEAFILE_ADMIN_PASSWORD=     # default: asecret
SEAFILE_SERVER_HOSTNAME=    # required if using HTTPS
SEAFILE_SERVER_LETSENCRYPT=false
