#--------------#
# SYSTEM DEF's #
################

# NFS server address and base share path (e.g. /mnt/tank)
# All subfolders (appdata/, media/, downloads/) are relative to nfs_share.
nfs_addr=
nfs_share=

# Jellyfin, and *arr containers
PUID=
PGID=
TZ=
UMASK_SET=022
UMASK=022

# Jellyfin
LOG_LEVEL=
JELLYFIN_PublishedServerUrl=

# Aria2 / AriaNg
RPC_SECRET=   # keep secret!
ARIA2RPCPORT=443

# Flaresolver
LOG_LEVEL=info
LOG_HTML=false
CAPTCHA_SOLVER=none

# slskd
SLSKD_REMOTE_CONFIGURATION=
SLSKD_NO_AUTH=
SLSKD_USERNAME=
SLSKD_PASSWORD=
SLSKD_SLSK_USERNAME=
SLSKD_SLSK_PASSWORD=
SLSKD_SHARED_DIR=
SLSKD_DOWNLOADS_DIR=

# Tdarr
serverIP=
serverPort=
webUIPort=
internalNode=
inContainer=
ffmpegVersion=
nodeName=
auth=
openBrowser=
maxLogSizeMB=
cronPluginUpdate=
