#--------------#
# SYSTEM DEF's #
################

# Where are we storing app data?
persist_data_home=

# Where are we storing downloads? 
downloads_home=

# Where are we storing medias?
media_mount=

# I just don't feel like standing up another container for ownfoil.
game_data_home=

# remote downloads
remote_downloads_home=


# Jellyfin, and *arr containers
PUID=
PGID=
TZ=
UMASK_SET=022

# Deemix
DEEMIX_SINGLE_USER=true

# Qbittorrent
WEBUI_PORT=

# Jellyfin
LOG_LEVEL=   

# Aria 
RPC_SECRET= # do not shae me!
RPC_PORT=6800 # Aria-ng
LISTEN_PORT=6888 # Qbittorrent/dht
DISK_CACHE=512M
IPV6_MODE=false
ENABLE_AUTH=true
ARIA2RPCPORT=443


# Flaresolver
LOG_LEVEL=info
LOG_HTML=false
CAPTCHA_SOLVER=none

#MDNS repeater
MDNS_REPEATER_INTERFACE_SET1="enp0s20f0u4 docker0"
MDNS_REPEATER_INTERFACE_SET2="enp0s20f0u5 docker0"

# Immich config. 

# The Immich version to use. You can pin this to a specific version like "v1.71.0"
IMMICH_VERSION=release

# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
DB_PASSWORD=

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=
DB_DATABASE_NAME=
DB_HOSTNAME=
REDIS_HOSTNAME=
